table { 
  width: 60%; 
  border-spacing: 0; 
}
td {
  border: 1px solid black;
  text-align: center;
 }
tr:nth-child(2n) {
  background: rgb(220,234,246);
}
td:nth-child(2n+1) {
  background: rgb(243,242,221);
}
td:nth-child(1) {
  background: none;
}